body {
    background-color: #1a1a1a;
    font-family: basic-commercial-light;
}

/* creating full page size  */
.page {
    background: var(--white);
    display: block;
    margin: 0 auto;
    position: relative;
    box-shadow: var(--pageShadow);
    background-color: #ffffff;
    margin-bottom: 5px;
}
.top-header{
    text-decoration: none;
    color: #ffffff;
}
.common-link{
    color: #545454;;
}
.page[size="page-size"] {
    width: 794px;
    height: 2245px;
    background-image: url('https://drive.google.com/uc?export=view&id=1pbpsezUqzgsrOlDHYDUBw0EqqsDX16Hk');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.header {
    font-family: 'League Spartan', sans-serif;
    height: 446px;
    font-size: 43px;

}

.header>h1 {
    margin: 0px;
    line-height: 0.8;
    text-align: end;
    padding-top: 17%;
    padding-right: 8%;
    color: #ffffff;
}
.honeymoon-container{
    display: flex;
    height: 680px;
}
.honeymoon-area{
    width: 55%;
}
.honeymoon-right{
    width: 50%;
}
.honeymoon-area>h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 38px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.honeymoon-area>p{
    font-family: 'lato';
    color: #545454;
    padding-left: 20px;
    margin-bottom: 18px;
    font-size: 19.5px;
    font-weight: 500;
    line-height:28px;
}
.honeymoon-area>ul{
    margin-top: -4px;
    padding-left: 51px;
}
.honeymoon-area>ul>li{
    color: #545454;
    font-size: 19.5px;
    font-family: 'lato';
    line-height: 29px;
}
.honeymoon-right>h3{
    font-size: 36px;
    font-family: 'League Spartan', sans-serif;
    padding-right: 45px;
    text-align: right;
    padding-top: 252px;
    letter-spacing: -2px;
    color: #ffffff;
}

.honeymoon-right>button{
    font-size: 20px;
    background-color:#e74c38;
    color: #ffffff;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    padding: 9px 18px;
    margin: 20px 2px 17px 47px;
}
.review-area{
    display: flex;
    height: 682px;
}
.rview-left{
    width: 55%;
}
.rview-left>h2{
    color: #ffffff;
    font-family: 'League Spartan', sans-serif;
    margin-top: 221px;
    margin-left: 21px;
    margin-bottom: 15px;
    letter-spacing: -0.2px;
}
.rview-left>h3{
    color: #ffffff;
    font-family: 'League Spartan', sans-serif;
    margin-left: 25px;
    font-size: 23px;
    margin-top: 15px;
}
.review-right{
    width: 50%;
}
.review-right>h2{
    font-size: 36px;
    font-family: 'League Spartan', sans-serif;
    margin-top: 28px;
    margin-left: 29px;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
}
.review-right>p{
    font-size: 20px;
    font-family: lato;
    color: #545454;
    margin-top: 25px;
    margin-left: 29px;
    line-height: 29px;
}
.footer>h1{
    font-size: 36px;
    font-family: 'League Spartan', sans-serif;
    color: #ffffff;
    font-size: 82px;
    margin-left: 137px;
    margin-top: 74px;
    line-height: 67px;
    margin-bottom: 5px;
}
.footer>button{
    border: none;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    color: #ffffff;
    background: #e74c38;
    margin-left: 143px;
    padding: 10px 25px;
    font-size: 22px;
    border-radius: 20px;
}