body {
    background-color: #1a1a1a;
    font-family: basic-commercial-light;
}

/* creating full page size  */
.page {
    background: var(--white);
    display: block;
    margin: 0 auto;
    position: relative;
    box-shadow: var(--pageShadow);
    background-color: #ffffff;
    margin-bottom: 5px;
}

.page[size="page-size"] {
    width: 794px;
    height: 2245px;
    background-image: url('../images/background.png');
    overflow: hidden;
}

.header {
    font-family: 'League Spartan', sans-serif;
    height: 446px;
    font-size: 43px;

}

.header>h1 {
    margin: 0px;
    line-height: 0.8;
    text-align: end;
    padding-top: 17%;
    padding-right: 8%;
    color: #ffffff;
}
.honeymoon-container{
    display: flex;
}
.honeymoon-area{
    width: 55%;
}
.honeymoon-right{
    width: 50%;
}
.honeymoon-area>h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 38px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.honeymoon-area>p{
    font-family: 'lato';
    color: #545454;
    padding-left: 20px;
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 500;
    line-height:28px;
}
.honeymoon-area>ul{
    margin-top: -4px;
    padding-left: 51px;
}
.honeymoon-area>ul>li{
    color: #545454;
    font-size: 20px;
    font-family: 'lato';
    line-height: 29px;
}
.honeymoon-right>h3{
    font-size: 36px;
    font-family: 'League Spartan', sans-serif;
    padding-right: 45px;
    text-align: right;
    padding-top: 252px;
    letter-spacing: -2px;
}

.honeymoon-right>button{
    font-size: 20px;
    background-color:#e74c38;
    color: #ffffff;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    padding: 9px 23px;
    margin: 17px 2px 17px 47px;
}